mat-drawer-container {
  height: 100%;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.spacer{
  flex: 1 1 auto;
}

form {
  min-width: 25%;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 32px;
  padding: 50px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 20px;
}