<app-appbar (onHandsetDrawerClick)="drawer.toggle()"></app-appbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer
    #drawer
    id="drawer"
    class="drawer"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[ngClass]="{hidden: !(isHandset$ | async)}"
	>
    <mat-toolbar color="accent">Menu</mat-toolbar>
    <!-- 
		* Avatar and product items.
		<mat-nav-list>
    <a mat-list-item routerLink="login">Log In</a>
    <a mat-list-item routerLink="signin">Sign In</a>
    </mat-nav-list> -->
  </mat-drawer>

  <mat-drawer-content>
		<!--* Bounded Context list.-->
  </mat-drawer-content>
</mat-drawer-container>