<mat-accordion togglePosition="before">
  <mat-expansion-panel [disabled]="this.boundedContexts == null">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Content</span>
      </mat-panel-title>
      <button mat-icon-button (click)="$event.stopPropagation()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <mat-nav-list>
      @for (boundedContext of this.boundedContexts; track $index) {
        <mat-list-item (click)="selectBoundedContext(boundedContext.boundedContextId)">
          <a matListItemTitle>{{ boundedContext.boundedContextName }}</a>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>